<section class="categories" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <h3>Welcome : <%= session.fullname %></h3>
        </div>
    </div>
</section>