<div class="container" style="min-height: 650px;">
    <h3 class="mt-4">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi repudiandae, quaerat illum ipsam ad numquam sed corporis perferendis laudantium, praesentium blanditiis sit veniam facere sequi voluptates magnam consectetur veritatis dolore.</p>

</div>


