<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eveniet amet sint sit consectetur eos repudiandae aliquam distinctio est officiis dolores voluptatem veritatis culpa ea dignissimos, provident cum enim aliquid.</p>

<h2>{{ name }}</h2>
<h3>{{ age }}</h3>
<h2>{{ y }}</h2>
<p>{{ x }}</p>

<input type="text" value="{{ x }}" />
<br />
<Br />
<input type="text" [(ngModel)]="x" />
<br />
<Br />
<select [(ngModel)]="y">
    <option>select</option>
    <option>indore</option>
    <option>mumbai</option>
    <option>pune</option>
    <option>ujjain</option>
</select>



<!-- 
    *ngFor
    (click)
    [ngSwtich]
    [style.font-size.px]


 -->
