<div class="container mt-5">
    <div class="row">
        <pre>{{ arr | json }}</pre>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label>State</label>
                <select class="form-control">
                    <option>Select</option>
                </select>
            </div>
            <br />
            <Br />
            <div class="form-group">
                <label>City</label>
                <select class="form-control">
                    <option>Select</option>
                </select>
            </div>
        </div>
    </div>
</div>
