<div class="container mt-5">
    <div class="row">
        <!-- <pre>{{ cityarr | json }}</pre> -->
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label>State</label>
                <select (change)="getcity()" [(ngModel)]="state" class="form-control">
                    <option>Select</option>
                    <option *ngFor="let s of arr">{{ s }}</option>
                </select>
            </div>
            <br />
            <Br />
            <div class="form-group">
                <label>City</label>
                <select class="form-control">
                    <option>Select</option>
                    <option *ngFor="let c of cityarr">{{ c.name }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
